.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 200px;
  text-align: center;
  background-color: white;
  display: none;
}

.modal.open {
  display: block;
}

.overlay.open {
  display: block;
}
.overlay {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-color: black;
  opacity: 85%;
  display: none;
}
